@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    font-size: 16px;
    text-align: center; /* Center text in the body */
}

header nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center the navigation items */
}

header nav ul li {
    margin-right: 40px; /* Space between links */
}

header nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last link */
}

header nav a {
    color: black; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition */
}

.container {
    display: flex;
    justify-content: center; /* Center align cards */
    flex-wrap: wrap; /* Allow wrapping */
    padding: 20px;
    margin-top: 50px;
}

.profile-card {
    max-width: 300px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease; /* Specify the property being transitioned */
    text-align: center; /* Center text within the card */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the inherited text color */
}

.profile-card:hover {
    transform: translateY(-10px);
    color: inherit; /* Maintain the same color on hover */
}

img {
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    border-radius: 50%; /* Circular shape */
    object-fit: cover; /* Maintain aspect ratio */
    border: 5px solid #eb7434; /* Border styling */
    margin-bottom: 8px; /* Space below the image */
}

.name {
    font-size: 28px;
}

.title {
    color: #eb7434;
    font-size: 17px;
    margin-top: 3px;
}

.profile-body {
    padding: 20px;
}

.description {
    font-size: 15px;
    color: #666;
    line-height: 1.4;
    margin-top: 10px; /* Add margin to move the description down */
}
